@model Web_Subasta.Models.ViewModels.SubastaVM

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Productos</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Mis Productos</h1>
        <div class="productos-container">

           @*
          @foreach (var producto in Model)
            {
                <div class="card">
                    <img src="@producto.ImagenUrl" alt="@producto.Nombre" />
                    <h2>@producto.Nombre</h2>
                    <p>@producto.Descripcion</p>
                    <p class="price">Precio Base: $@producto.Precio.ToString("N0")</p>
                    <p class="status">Estado: @producto.Estado</p>
                    <button class="ver-btn">Ver</button>
                </div>
            }
        </div>
            *@
        <button id="nuevaVentaBtn" class="nueva-venta-btn">NUEVA VENTA</button>
    </div>
</body>
</html>