@model Web_Subasta.Models.ViewModels.SubastaVM

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mis Productos</title>
</head>
<body>
    <h2>Mis Productos</h2>

    
    @*foreach (var producto in Model.)
    {
        <div>
            <h3>@producto.Titulo</h3>
            <p><strong>Inicia:</strong> @producto.FechaInicio.ToString("dd/MM/yyyy HH:mm")</p>
            <p><strong>Finaliza:</strong> @producto.FechaFin.ToString("dd/MM/yyyy HH:mm")</p>
            <h4>PRECIO BASE: @producto.PrecioBase.ToString("N")</h4>
            <p><strong>CANTIDAD DE OFERTAS:</strong> @producto.CantidadOfertas</p>
            <p>@producto.Descripcion</p>

            <form method="get" asp-action="CargarProducto">
                <button type="submit">Cargar Producto</button>
            </form>

            <hr />
        </div>
    }*@
</body>
</html>